openapi: 3.0.1
servers:
  - url: https://api.voucherly.it
    description: Voucherly API
info:
  title: Voucherly API
  termsOfService: "https://legal.voucherly.it/terms/service/"
  description: |

    ## Introduction

    The Voucherly API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API has predictable resource-oriented URLs, accepts request bodies and returns responses in [JSON-encoded](http://www.json.org/) format (using [camelCase](https://en.wikipedia.org/wiki/Camel_case) notation), and uses standard HTTP response codes, authentication, and verbs.

    You can use the Voucherly API in sandbox mode, which doesn't affect your live data or interact with the banking networks. The API key you use to authenticate the request determines whether the request is live mode or test mode.
    ```
    https://api.voucherly.it
    ```

    ## Authentication    
    
    The Voucherly API uses API keys to authenticate requests. Sandbox mode secret keys have the prefix `sk_sand_` and live mode secret keys have the prefix `sk_live_`. You can view and manage your API keys in the [Voucherly Dashboard](https://dashboard.voucherly.it/Developer/ApiKey).

    Your API keys carry many privileges, so be sure to keep them secure! Do not share your secret API keys in publicly accessible areas such as GitHub, client-side code, and so forth.

    Provide your API key as the "Voucherly-API-Key" header. For example:
    ```cURL []
    -H  "Voucherly-API-Key: sk_sand_BYsZDnaUWfVKGwHFvLop0dc9Fp1mE8py2Mtgm5aU6IrtCiuJg9s4747J"
    ```

    All API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made over plain HTTP will fail. API requests without authentication will also fail.
  contact:
    name: API Support
    email: support@voucherly.it
  # x-logo:
  #   url: "https://ucarecdn.com/a5e716fc-abcb-4ab2-960a-33a6a1b5446c/-/preview/200x50/"
  #   altText: Voucherly logo
  # x-dark-logo:
  #   url: "https://ucarecdn.com/cf4a09cb-1f6e-4385-97c8-46ae406fd671/-/preview/200x50/"
  #   altText: "Voucherly dark logo"
  version: v1
security:
  - Voucherly-API-Key: []
tags:
  - name: company
    description: |
      A Company represents an organization or business entity to which one or more customers can be associated. This logical grouping facilitates management and reporting at the company level. Each Company can have specific information linked to it, such as default delivery addresses, pricing rules, discounts, and other company-specific configurations.
    x-displayName: Companies
  - name: customer
    description: This object represents a customer of your business. Use it to save payment and contact information, and track payments that belong to the same customer.
    x-displayName: Customers
  - name: paymentMethod
    description: |
      PaymentMethod objects represent your Customer’s payment instruments. You can use them with Payments to collect payments or save them to Customer objects to store instrument details for future payments.
    x-displayName: Payment Methods
  - name: payment
    description: |
      A Payment guides you through the process of collecting a payment from your customer. We recommend that you create exactly one Payment for each order or customer session in your system. You can reference the Payment later to see the history of payment attempts for a particular session.
      
      A Payment transitions through [multiple statuses](/guides/resources/payments-lifecycle) throughout its lifetime.
    x-displayName: Payments
paths:
  /v1/companys:
    post:
      tags:
        - company
      operationId: create-company
      summary: Create a Company
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Company"
                - type: object
                  required: [name]
        required: true
      responses:
        '201':
          description: Returns a Company object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: "#/components/responses/BadRequest"
    get:
      tags:
        - company
      operationId: list-company
      summary: List all Companys
      parameters:
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with a `items` property that contains an array of up to `length` Companys, starting after Company `start`. Each entry in the array is a separate Company object. If no more Companys are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: 'An array containing the actual response elements, paginated by any request parameters.'
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: "#/components/responses/BadRequest"
  /v1/companys/{idOrCode}:
    get:
      tags:
        - company
      operationId: retrieve-company
      summary: Retrieve a Company
      parameters:
        - name: idOrCode
          in: path
          required: true
          description: The unique identifier (ID) or join code of the Company to retrieve.
          schema:
            type: string
        - name: include
          in: query
          description: 'An array of nested object to be included in response.'
          required: false
          schema:
            type: array
            items:
              type: string
              enum: ["Addresses"]
      responses:
        '200':
          description: Returns a Company object if a valid identifier was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
  /v1/customers:
    post:
      tags:
        - customer
      operationId: create-customer
      summary: Create a Customer
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Customer"
                - type: object
                  properties:
                    options:
                      type: object
                      description: Optional settings for customer creation.
                      required:
                        - requireUniqueEmail
                      properties:
                        requireUniqueEmail:
                          type: boolean
                          description: If true, the API will return an error if a customer with the same email address already exists. If false, allows duplicate emails.
      responses:
        '201':
          description: Returns a Customer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: "#/components/responses/BadRequest"
    get:
      tags:
        - customer
      operationId: list-customer
      summary: List all Customers
      parameters:
        - name: email
          description: The Customer's email address.
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/PageSizeQueryParam'
        - $ref: '#/components/parameters/PageStartQueryParam'
      responses:
        '200':
          description: |
            A dictionary with a `items` property that contains an array of up to `length` Customers, starting after Customer `start`. Passing an optional email will result in filtering to Customers with only that exact email address. Each entry in the array is a separate Customer object. If no more Customers are available, the resulting array will be empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: 'An array containing the actual response elements, paginated by any request parameters.'
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
                additionalProperties: false
        '400':
          $ref: "#/components/responses/BadRequest"
  /v1/customers/{id}:
    parameters:
      - $ref: '#/components/parameters/IdPathParam'
    get:
      tags:
        - customer
      operationId: retrieve-customer
      summary: Retrieve a Customer
      parameters:
        - name: include
          in: query
          description: 'An array of nested object to be included in response.'
          required: false
          schema:
            type: array
            items:
              type: string
              enum: ["Wallet"]
      responses:
        '200':
          description: Returns a Customer object if a valid identifier was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
    post:
      tags:
        - customer
      operationId: update-customer
      summary: Update a Customer
      description: Updates the specified customer by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Customer"
                - type: object
                  properties:
                    referenceId:
                      readOnly: true
                    companyId:
                      readOnly: true
        required: true
      responses:
        '200':
          description: Returns a Customer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: "#/components/responses/BadRequest"
  /v1/customers/{customerId}/payment_methods:
    get:
      tags:
        # - customer
        - paymentMethod
      operationId: list-customer_payment_method
      summary: List a Customer's PaymentMethods
      description: Returns a list of PaymentMethods for a given Customer
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
      responses:
        '200':
          description: |
            A dictionary with a `items` property that contains an array of PaymentMethods. Each entry in the array is a separate PaymentMethod object. This request should never return an error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: 'An array containing the actual response elements.'
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
                additionalProperties: false
        '400':
          $ref: "#/components/responses/BadRequest"
  /v1/customers/{customerId}/payment_methods/{paymentMethodId}:
    delete:
      tags:
        # - customer
        - paymentMethod
      operationId: delete-customer_payment_method
      summary: Delete a Customer's PaymentMethod
      parameters:
        - $ref: '#/components/parameters/CustomerIdPathParam'
        - $ref: '#/components/parameters/PaymentMethodIdPathParam'
      responses:
        '204':
          description: ""
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
  # /v1/customers/{customerId}/addresses:
  #   get:
  #     tags:
  #       - Customers
  #     operationId: List a Customer's Addresses
  #     parameters:
  #       - $ref: '#/components/parameters/CustomerIdPathParam'
  #     responses:
  #       '200':
  #         description: Success
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/PaginationResponse_CustomerAddressDto'
  #       '400':
  #         description: Bad Request
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ValidationProblemDetails'
  #   post:
  #     tags:
  #       - Customers
  #     operationId: Create a Customer's Address
  #     parameters:
  #       - name: customerId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/CustomerAddressRequest'
  #       required: true
  #     responses:
  #       '201':
  #         description: Created
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/CustomerAddressDto'
  #       '400':
  #         description: Bad Request
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ValidationProblemDetails'
  # /v1/customers/{customerId}/addresses/{addressId}:
  #   get:
  #     tags:
  #       - Customers
  #     operationId: Retrieve a Customer's Address
  #     parameters:
  #       - name: customerId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #       - name: addressId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #     responses:
  #       '200':
  #         description: Success
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/CustomerAddressDto'
  #       '404':
  #         description: Not Found
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ProblemDetails'
  #   put:
  #     tags:
  #       - Customers
  #     operationId: Update a Customer's Address
  #     parameters:
  #       - name: customerId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #       - name: addressId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/CustomerAddressRequest'
  #       required: true
  #     responses:
  #       '201':
  #         description: Created
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/CustomerAddressDto'
  #       '400':
  #         description: Bad Request
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ValidationProblemDetails'
  #   delete:
  #     tags:
  #       - Customers
  #     operationId: Delete a Customer's Address
  #     parameters:
  #       - name: customerId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #       - name: addressId
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #     responses:
  #       '201':
  #         description: Created
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/CustomerAddressDto'
  #       '400':
  #         description: Bad Request
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ValidationProblemDetails'
  /v1/payments:
    post:
      tags:
        - payment
      operationId: create-payment
      summary: Create a Payment
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Payment"
                - type: object
                  required: [email]
                  properties:
                    companyId:
                      type: string
                      description: |
                        The ID of the Company this Payment is associated with. If empty, the Company associated with the Customer will be used, if one exists. 
                        
                        You cannot specify both `customerId` and `companyId` at the same time.
                      nullable: true
                    customerId:
                      type: string
                      description: The ID of the Customer of this Payment. If empty a new Customer will be created.
                      nullable: true                    
                    timeout:
                      type: integer
                      description: Timeout in minutes for the checkout sessions. Default is 10.
                      format: int32
                      nullable: true
                    isPartialPayment:
                      type: boolean
                      description: >-
                        Enable or disable partial payments. When partial payment is enabled,
                        customers have the flexibility to pay a portion of the total amount.
                        Customers can decide to use alternative payment methods to cover the
                        remaining amount. When partial payment is disabled, customers are
                        required to pay the entire amount using a combination of payment
                        gateways.
                      nullable: true
                    isAutoConfirm:
                      type: boolean
                      description: "Enable or disable auto confirm.\r\nIf you don't specify anything the default Merchant configuration will be used.\r\nWhen auto confirm is enabled, payment is automatically confirmed before redirecting customer to RedirectSuccessUrl.\r\nWhen auto confirm is disabled, payment requires manual confirmation."
                      nullable: true
                    redirectOkUrl:
                      type: string
                      description: >-
                        The URL to which Voucherly should send customers when payment is complete.
                      nullable: false
                    redirectKoUrl:
                      type: string
                      description: >-
                        The URL to which Voucherly should send customers when payment is cancelled or failed.
                      nullable: false
                    callbackUrl:
                      type: string
                      description: The URL where Voucherly will send a Server-to-Server (S2S) callback notification when the payment status changes. This allows your system to be notified synchronously about payment updates.
                      nullable: true
                    language:
                      type: string
                      description: The language of Voucherly Checkout page.
                      nullable: true
                    country:
                      type: string
                      description: >-
                        The country of the purchase. If different from Italy, voucher
                        payment gateways are not shown.
                      nullable: true
                    shippingAddress:
                      type: string
                      description: Purchase shipping address.
                      nullable: true
            examples:
              'New customer':
                summary: Create payment with new customer
                value:
                  mode: Payment
                  redirectOkUrl: "https://httpbin.org/get"
                  redirectKoUrl: "https://httpbin.org/get"
                  customerFirstName: Mario
                  customerLastName: Rossi
                  customerEmail: mario.rossi@voucherly.it
                  country: IT
                  lines:
                    - quantity: 2
                      unitAmount: 250
                      unitDiscountAmount: 10
                      productName: Muffin
                      isFood: true
                  discounts:
                    - discountName: Coupon XSDWFE
                      amount: 200
      responses:
        '201':
          description: Returns a Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: "#/components/responses/BadRequest"
  /v1/payments/{id}:
    get:
      tags:
        - payment
      operationId: retrieve-payment
      summary: Retrieve a Payment
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - name: include
          in: query
          description: 'An array of nested object to be included in response.'
          required: false
          schema:
            type: array
            items:
              type: string
              enum: ["Lines", "Discounts", "Transactions"]
        - name: Voucherly-Wait-Time
          in: header
          description: >-
            Seconds that the call will be hanging, waiting for a payment status
            change. Maximum value is 60 seconds.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Returns a Payment object if a valid identifier was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
  /v1/payments/{id}/confirm:
    post:
      tags:
        - payment
      operationId: confirm-payment
      summary: Confirm a Payment
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPaymentRequest'
      responses:
        '200':
          description: Returns a Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
        '409':
          $ref: "#/components/responses/PaymentConflict"
  /v1/payments/{id}/refund:
    post:
      tags:
        - payment
      operationId: refund-payment
      summary: Refund a Payment
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
      responses:
        '200':
          description: Returns a Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: "#/components/responses/BadRequest"
        '404':
          $ref: "#/components/responses/NotFound"
        '409':
          $ref: "#/components/responses/PaymentConflict"
  /v1/payment_gateways:
    get:
      tags:
        - Payment Gateways
      operationId: list-payment_gateway
      summary: List all PaymentGateways
      parameters:
        - name: All
          in: query
          description: >-
            Specifies whether to return all payment gateways or only those are
            enabled. If true, returns all payment gateways regardless of their enabled status. If false or omitted, returns only enabled payment gateways.
          schema:
            type: boolean
        - name: Include
          in: query
          description: An array of nested object to be included in response.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - Parameters
            description: An array of nested object to be included in response.
      responses:
        '200':
          description: |
            A dictionary with a `items` property that contains an array of PaymentGateways. Each entry in the array is a separate PaymentGateway object. This request should never return an error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentGatewaysResponse'
        '400':
          $ref: "#/components/responses/BadRequest"
components:
  parameters:
    IdPathParam:
      name: id
      in: path
      required: true
      description: Unique identifier for the object.
      schema:
        $ref: '#/components/schemas/Id'
    CustomerIdPathParam:
      name: customerId
      in: path
      required: true
      description: Unique identifier for the Customer.
      schema:
        $ref: '#/components/schemas/Id'
    PaymentMethodIdPathParam:
      name: paymentMethodId
      in: path
      required: true
      description: Unique identifier for the PaymentMethod.
      schema:
        $ref: '#/components/schemas/Id'
    PageSizeQueryParam:
      name: length
      in: query
      required: false
      description: A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.
      schema:
        type: integer
    PageStartQueryParam:
      name: start
      in: query
      required: false
      description: A cursor for pagination across multiple pages of results. Don’t include this parameter on the first call. Use the `nextStart` value returned in a previous response to request subsequent results.
      schema:
        type: string
  schemas:
    Id:
      type: string
      description: Unique identifier for the object.
      nullable: false
      readOnly: true
    Company:
      x-tags:
        - company
      x-displayName: "Company"
      type: object
      description: The Company object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        tenant:
          $ref: '#/components/schemas/TenantMode'
        joinCode:
          type: string
          description: A unique 6-character code that can be used to join or reference this Company.
          nullable: false
          minLength: 6
          maxLength: 6
        name:
          type: string
          description: Company name.
          nullable: false
        addresses:
          type: array
          description: An array of delivery addresses associated with this Company. Each address can have specific delivery fees and store information.
          items:
            $ref: '#/components/schemas/CompanyAddressForExternalApi'
          nullable: true
          readOnly: true
      additionalProperties: false
    Customer:
      x-tags:
        - customer
      type: object
      description: The Customer object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        tenant:
          $ref: '#/components/schemas/TenantMode'
        email:
          type: string
          description: The customer’s email address.
          nullable: false
        firstName:
          type: string
          description: The customer’s first name.
          nullable: true
        lastName:
          type: string
          description: The customer’s last name.
          nullable: true
        phoneNumber:
          type: string
          description: The customer’s phone number.
          nullable: true
        referenceId:
          type: string
          description: A unique identifier from your system that you can use to reference this Customer. This can be used to reconcile the Customer with your internal systems.
          nullable: true
        companyId:
          type: string
          description: The ID of the Company this Customer is associated with.
          nullable: true
        wallet:
          allOf:
            - $ref: "#/components/schemas/CustomerWalletTotals"
          readOnly: true
        metadata:
          $ref: '#/components/schemas/Metadata'
      additionalProperties: true # I need this because it's used in create request (probably it's a plugin bug)
    CustomerWalletTotals:
      type: object
      description: Summary information about the Customer's wallet, including total amounts and last update timestamp.
      properties:
        totalAmount:
          type: integer
          format: int64
          description: The total amount available in the customer's wallet, in cents.
        totalVoucherAmount:
          type: integer
          format: int64
          description: The total amount of voucher funds available in the customer's wallet, in cents.
        lastUpdatedOnUtc:
          type: string
          format: date-time
          description: The UTC timestamp of when the wallet totals were last updated.
      additionalProperties: false
    CreditCardInfo:
      type: object
      description: If this is a card PaymentMethod, this contains the user’s card details.
      properties:
        brand:
          type: string
          description: Card brand
          nullable: false
        pan:
          type: string
          description: Card masked PAN
          nullable: false
        expiration:
          type: string
          description: The card's expiration date, typically in MM/YY format.
          nullable: false
        expirationMonth:
          type: integer
          format: int32
          description: Two-digit number representing the card’s expiration month.
          readOnly: true
        expirationYear:
          type: integer
          format: int32
          description: Four-digit number representing the card’s expiration year.
          readOnly: true
        product:
          type: string
          description: The card product type (e.g., "Visa Classic", "Mastercard Gold").
          nullable: false
      additionalProperties: false
    DirectDebitInfo:
      type: object
      description: If this is a sepa_debit PaymentMethod, this contains the user’s card details.
      properties:
        accountId:
          type: string
          description: ID of the bank account.
          nullable: false
        accountBic:
          type: string
          description: BIC of the bank account.
          nullable: false
        accountIban:
          type: string
          description: IBAN of the bank account.
          nullable: false
      additionalProperties: false 
    Metadata:
      type: object
      description: Set of key-value pairs that you can attach to an object. This can be useful for storing additional information about the object in a structured format. It can contain up to 10 key-value items with a maximum length of 40 for the key and of 400 chars for the value.
      additionalProperties:
        type: string
      nullable: true
    PaginationResponse:
      type: object
      properties:
        hasMore:
          type: boolean
          description: Whether or not there are more elements available after this set. If false, this set comprises the end of the list.
          nullable: false
        nextStart:
          type: integer
          description: A cursor for use in pagination. If `hasMore` is true, you can pass the value of `nextStart` to a subsequent call to fetch the next page of results.
          nullable: true
      additionalProperties: false
    PaymentMethod:
      x-tags:
        - paymentMethod
      type: object
      description: The PaymentMethod object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        customerId:
          type: string
          description: The ID of the Customer to which this PaymentMethod is saved.
          nullable: false
        paymentGatewayId:
          type: string
          description: The ID of the PaymentGateway through which this PaymentMethod is processed.
          nullable: false
        externalId:
          type: string
          description: The ID of the PaymentMethod as registered in the external PaymentGateway system. Used to reference the method in operations with the provider.
          nullable: false
        holderEmail:
          type: string
          description: Email address associated with the PaymentMethod holder. This may differ from the Customer's email.
          nullable: false
        holderName:
          type: string
          description: Full name of the individual or entity that owns the PaymentMethod. This may differ from the Customer's registered name.
          nullable: false
        creditCard:
          $ref: '#/components/schemas/CreditCardInfo'
        directDebit:
          $ref: '#/components/schemas/DirectDebitInfo'
        additionalInformation1:
          type: string
          description: Additional information field 1 for the payment method. Can be used to store custom data specific to the payment gateway.
          nullable: true
        additionalInformation2:
          type: string
          description: Additional information field 2 for the payment method. Can be used to store custom data specific to the payment gateway.
          nullable: true
        additionalInformation3:
          type: string
          description: Additional information field 3 for the payment method. Can be used to store custom data specific to the payment gateway.
          nullable: true
      additionalProperties: false
    Payment:
      x-tags:
        - payment
      type: object
      description: The Payment object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        tenant:
          $ref: '#/components/schemas/TenantMode'
        referenceId:
          description: A unique string to reference the Payment. This can be a customer ID, a cart ID, or similar, and can be used to reconcile the Payment with your internal systems.
          nullable: true
        mode:
          $ref: '#/components/schemas/Payments.PaymentMode'
        parentPaymentId:
          type: string
          description: The ID of the parent Payment, if this Payment is a child payment (e.g., a wallet).
          nullable: true
          readOnly: true
        companyId:
          type: string
          description: The ID of the Company this Payment is associated with.
          nullable: true
        customerId:
          type: string
          description: The ID of the Customer of this Payment.
        customerEmail:
          type: string
          description: The email address of the customer associated with this Payment.
          nullable: false
        customerFirstName:
          type: string
          description: The first name of the customer associated with this Payment.
          nullable: false
        customerLastName:
          type: string
          description: The last name of the customer associated with this Payment.
          nullable: false
        customerPhoneNumber:
          type: string
          description: The phone number of the customer associated with this Payment.
          nullable: false
        customerPaymentMethodId:
          type: string
          description: The ID of the Customer's PaymentMethod to attach to this Payment.
          nullable: true
        selectedPaymentGatewayId:
          type: string
          description: Default PaymentGateway used for the first transaction.
          nullable: true
        checkoutUrl:
          type: string
          description: The URL where the customer should be redirected to complete the payment. This URL is provided after creating a Payment and should be used to redirect the customer to the Voucherly checkout page.
          nullable: true
          readOnly: true
        closeCheckout:
          $ref: '#/components/schemas/Payments.PaymentCloseCheckout'
        callback:
          $ref: '#/components/schemas/Payments.PaymentLastCallback'
        totalAmount:
          type: integer
          format: int64
          description: The total amount of the payment before discounts, in cents. This is the sum of all line items.
          readOnly: true
        discountAmount:
          type: integer
          format: int64
          description: The total amount of discounts applied to the payment, in cents. This is the sum of all discount amounts.
          readOnly: true
        finalAmount:
          type: integer
          format: int64
          description: The final amount to be paid after applying all discounts, in cents. This is calculated as totalAmount - discountAmount.
          readOnly: true
        paidAmount:
          type: integer
          format: int64
          description: The total amount that has been paid so far, in cents. This includes both regular payments and voucher payments.
          readOnly: true
        paidVoucherAmount:
          type: integer
          format: int64
          description: The amount that has been paid using vouchers, in cents.
          readOnly: true
        amount:
          type: integer
          format: int64
          description: The remaining amount to be paid, in cents. This is calculated as finalAmount - paidAmount.
          readOnly: true
        status:
          allOf:
            - $ref: '#/components/schemas/Payments.PaymentStatus'
          readOnly: true
        metadata:
          $ref: '#/components/schemas/Metadata'
        transactions:
          type: array
          description: An array of Transaction objects representing all payment attempts and transactions associated with this Payment.
          items:
            $ref: '#/components/schemas/Payments.Transaction'
          readOnly: true
        lines:
          type: array
          description: An array of PaymentLine objects representing the line items (products or services) included in this Payment.
          items:
            $ref: '#/components/schemas/Payments.PaymentLine'
        discounts:
          type: array
          description: An array of PaymentDiscount objects representing all discounts applied to this Payment.
          items:
            $ref: '#/components/schemas/Payments.PaymentDiscount'
      additionalProperties: true # I need this because it's used in create request (probably it's a plugin bug)
    Payments.PaymentStatus:
      description: Current status of the Payment.
      enum:
        - Requested
        - Paid
        - Confirmed
        - Refunded
        - Cancelled
        - Voided
        - Expired
      type: string
    
    TenantMode:
      type: string
      description: Has the value "live" if the object exists in live mode, or "sand" if it exists in test mode.
      enum: ["sand", "live"]
      nullable: false
      readOnly: true
    
    PaymentGateways.CheckoutAction:
      description: The type of checkout action required by the payment gateway.
      enum:
        - OTP
        - REDIRECT
        - DROPIN
      type: string
      x-enum-descriptions:
        - OTP: One-Time Password authentication is required. The customer needs to enter an OTP code.
        - REDIRECT: The customer must be redirected to an external URL to complete the payment.
        - DROPIN: An embedded payment form (drop-in) can be used within your application.
    
    CompanyAddressForExternalApi:
      type: object
      description: An address associated with a Company, typically used for delivery purposes.
      properties:
        id:
          type: string
          description: Unique identifier for the address.
          nullable: false
        label:
          type: string
          description: A friendly label or name for this address (e.g., "Main Office", "Warehouse").
          nullable: true
        streetName:
          type: string
          description: The street name of the address.
          nullable: true
        streetNumber:
          type: string
          description: The street number of the address.
          nullable: true
        city:
          type: string
          description: The city of the address.
          nullable: true
        province:
          type: string
          description: The province or state of the address.
          nullable: true
        postalCode:
          type: string
          description: The postal or ZIP code of the address.
          nullable: true
        country:
          type: string
          description: The country code of the address (e.g., "IT" for Italy).
          nullable: true
        deliveryFeeAmount:
          type: integer
          format: int32
          description: The delivery fee amount for this address, in cents.
        storeId:
          type: string
          description: The unique identifier of the store associated with this address.
          nullable: false
      additionalProperties: false
    
    PaymentGateways.Checkout.PaymentRequest:
      type: object
      description: Information about the payment request, including the action required and any redirect URL.
      properties:
        action:
          $ref: '#/components/schemas/PaymentGateways.CheckoutAction'
          description: The type of checkout action required to complete the payment.
        externalTransactionId:
          type: string
          description: The unique identifier of the transaction in the external payment gateway system.
          nullable: false
        url:
          type: string
          description: The URL to redirect the customer to, if the action is REDIRECT. This URL is provided by the payment gateway.
          nullable: true
      additionalProperties: true
    Services.PaymentGateways.PaymentGatewayDto:
      type: object
      description: Information about a payment gateway available for processing payments.
      properties:
        id:
          type: string
          description: Unique identifier for the payment gateway.
          nullable: true
        name:
          type: string
          description: The display name of the payment gateway (e.g., "Visa", "Mastercard", "Edenred").
          nullable: true
        type:
          $ref: '#/components/schemas/PaymentGateways.PaymentGatewayType'
          description: The type of payment gateway (0 = Card, 1 = Voucher, 2 = Other).
        paymentAction:
          $ref: '#/components/schemas/PaymentGateways.CheckoutAction'
          description: The type of checkout action required by this payment gateway.
        image:
          type: string
          description: URL of the image to display for this payment gateway in the checkout.
          nullable: true
        checkoutImage:
          type: string
          description: URL of the image to display for this payment gateway in the checkout page.
          nullable: true
        icon:
          type: string
          description: URL of the icon to display for this payment gateway.
          nullable: true
        minimumAmount:
          type: integer
          format: int32
          description: The minimum payment amount required for this payment gateway, in cents.
        isRefundablePartially:
          type: boolean
          description: Indicates whether partial refunds are supported by this payment gateway.
          readOnly: true
        isTokenizable:
          type: boolean
          description: Indicates whether payment methods can be saved (tokenized) for future use with this payment gateway.
          readOnly: true
        paymentGatewayParameters:
          type: array
          description: An array of configuration parameters for this payment gateway.
          items:
            $ref: >-
              #/components/schemas/Services.PaymentGateways.PaymentGatewayParameterDto
          nullable: true
      additionalProperties: false
    Services.PaymentGateways.PaymentGatewayParameterDto:
      type: object
      description: A configuration parameter for a payment gateway.
      properties:
        paymentGatewayId:
          type: string
          description: The ID of the payment gateway this parameter belongs to.
          nullable: true
        parameterId:
          type: string
          description: The unique identifier of this parameter.
          nullable: true
        friendlyName:
          type: string
          description: A human-readable name for this parameter.
          nullable: true
        isMerchant:
          type: boolean
          description: Indicates whether this parameter is configured at the merchant level.
        isForm:
          type: boolean
          description: Indicates whether this parameter should be displayed as a form field.
        isVisible:
          type: boolean
          description: Indicates whether this parameter should be visible in the UI.
        isRequired:
          type: boolean
          description: Indicates whether this parameter is required.
        tenantDefaultValue:
          type: string
          description: The default value for this parameter at the tenant level.
          nullable: true
        options:
          type: array
          description: An array of available options for this parameter, if it's a select/dropdown type.
          items:
            $ref: >-
              #/components/schemas/PaymentGateways.PaymentGatewayParameterOptionDto
          nullable: true
      additionalProperties: false
    PaymentGateways.PaymentGatewayParameterOptionDto:
      type: object
      description: An option value for a payment gateway parameter.
      properties:
        id:
          type: string
          description: The unique identifier of this option.
          nullable: true
        text:
          type: string
          description: The display text for this option.
          nullable: true
      additionalProperties: false
    PaymentGateways.PaymentGatewayType:
      description: The type of payment gateway.
      enum:
        - 0
        - 1
        - 2
      type: integer
      format: int32
      x-enum-descriptions:
        - "0: Card payment gateway (credit/debit cards)"
        - "1: Voucher payment gateway (meal vouchers, etc.)"
        - "2: Other payment gateway type"
      
    Payments.PaymentMode:
      enum:
        - Payment
        - Wallet
        - Setup
      type: string
      description: Mode of this Payment.
      nullable: false
    Payments.ExternalError:
      type: object
      description: Error information returned by an external payment gateway provider.
      properties:
        message:
          type: string
          description: A human-readable error message from the payment gateway.
          nullable: true
        code:
          type: string
          description: An error code from the payment gateway provider.
          nullable: true
      additionalProperties: false
    Payments.PaymentCloseCheckout:
      type: object
      description: Information about when and whether the checkout was closed by the customer.
      readOnly: true
      properties:
        success:
          type: boolean
          description: Indicates whether the checkout was closed successfully (true) or cancelled (false).
        date:
          type: string
          format: date-time
          description: The UTC timestamp when the checkout was closed.
      additionalProperties: false
    Payments.PaymentLastCallback:
      type: object
      description: Information about the last callback sent to your callbackUrl endpoint.
      readOnly: true
      properties:
        success:
          type: boolean
          description: Indicates whether the callback was sent successfully (true) or failed (false).
        date:
          type: string
          format: date-time
          description: The UTC timestamp when the last callback was sent.
      additionalProperties: false
    
    Payments.PaymentDiscount:
      type: object
      properties:
        discountName:
          type: string
          description: The discount’s name, meant to be displayable to the customer.
          nullable: false
        discountDescription:
          type: string
          description: The discount’s description. Use this field to optionally store a long form explanation of the product being sold for your own rendering purposes.
          nullable: true
        amount:
          type: integer
          description:  A non-negative integer in cents representing how much to subtract from the total. Must be specified when both `type` and `value` are null.
          format: int32
        type:
          $ref: '#/components/schemas/Payments.DiscountType'
        value:
          type: integer
          description: The value of the discount, contextual to the selected `type`. Must be specified when `type` is provided and `amount` is null.
          format: int32
          nullable: true
        index:
          type: integer
          description: Defines the application order of this discount relative to others.
          format: int32
          nullable: true
      additionalProperties: false
    Payments.DiscountType:
      enum:
        - DOLLAROFF
        - PERCENOFF
        - FIXED
      description: |
        Defines how the discount is calculated:
        - `DOLLAROFF`: A fixed amount in cents is subtracted from the total.
        - `PERCENOFF`: A percentage of the total amount is subtracted.
        - `FIXED`: The final price is set to a fixed amount, overriding the original total.
      type: string
    Payments.PaymentLine:
      type: object
      properties:
        quantity:
          type: integer
          description: The quantity of the line item being purchased.
          format: int32
        productId:
          type: string
          description: The ID of the Product that this PaymentLine will belong to. One of `productId` or `productName` is required. When `productId` is provided, all other product-related fields will be ignored, as their values will be automatically loaded from the Product.
          nullable: true
        productName:
          type: string
          description: The product’s name, meant to be displayable to the customer. One of `productId` or `productName` is required.
          nullable: true
        productVariant:
          type: string
          description: The product’s variant description, meant to be displayable to the customer.
          nullable: true
        productImage:
          type: string
          description: The product’s image, meant to be displayable to the customer.
          nullable: true
        unitAmount:
          type: integer
          description: A non-negative integer in cents representing how much to charge for each individual unit.
          format: int32
        unitDiscountAmount:
          type: integer
          description: A non-negative integer in cents representing the discount applied to each individual unit. This field is mutually exclusive with `discountAmount` — only one of the two may be specified.
          format: int32
        discountAmount:
          type: integer
          description: A non-negative integer in cents representing the total discount applied to the entire line. This field is mutually exclusive with `unitDiscountAmount` — only one of the two may be specified.
          format: int32
        finalAmount:
          type: integer
          description: A non-negative integer in cents representing how much to charge.
          format: int64
          readOnly: true
        taxRate:
          type: number
          description: The product's applicable tax rate.
          format: double
          nullable: true
        isFood:
          type: boolean
          description: Indicates whether this payment line refers to a food item. This flag is used to determine eligibility for meal vouchers or similar benefits.
        modifiers:
          type: array
          items:
            $ref: '#/components/schemas/Payments.PaymentLine.Modifier'
          nullable: true
      additionalProperties: false
    Payments.PaymentLine.Modifier:
      type: object
      description: A modifier or customization applied to a payment line item (e.g., extra toppings, size options).
      properties:
        modifierId:
          type: string
          description: The ID of the Modifier that this customization will belong to.
        productId:
          type: string
          description: The ID of the Product that this customization will belong to.
        productName:
          type: string
          description: The name of the modifier product, automatically loaded from the Product.
          readOnly: true
        quantity:
          type: integer
          description: The quantity of this modifier.
        price:
          type: integer
          description: The price of this modifier, in cents.
      additionalProperties: false
    
    Payments.Transaction:
      type: object
      description: A Transaction represents a single payment attempt or operation within a Payment. A Payment can have multiple Transactions.
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the transaction.
        paymentGatewayId:
          type: string
          description: The ID of the PaymentGateway used for this transaction.
          nullable: false
        paymentGateway:
          $ref: '#/components/schemas/Services.PaymentGateways.PaymentGatewayDto'
          description: Detailed information about the PaymentGateway used for this transaction.
        externalId1:
          type: string
          description: The primary external transaction ID from the payment gateway provider.
          nullable: false
        externalId2:
          type: string
          description: An additional external transaction ID or reference from the payment gateway provider.
          nullable: true
        externalId3:
          type: string
          description: A third external transaction ID or reference from the payment gateway provider.
          nullable: true
        isWallet:
          type: boolean
          description: Indicates whether this transaction was paid using the customer's wallet balance.
        error:
          $ref: '#/components/schemas/Payments.TransactionError'
          description: Error information if the transaction failed.
        requestedAmount:
          type: integer
          format: int32
          description: The amount that was requested for this transaction, in cents.
        amount:
          type: integer
          format: int64
          description: The actual amount processed in this transaction, in cents.
        voucherAmount:
          type: integer
          format: int64
          description: The amount paid using vouchers in this transaction, in cents.
        noOfVouchers:
          type: integer
          format: int32
          description: The number of vouchers used in this transaction.
          nullable: true
        confirmedAmount:
          type: integer
          format: int64
          description: The amount that has been confirmed (captured) from this transaction, in cents.
        refundedAmount:
          type: integer
          format: int64
          description: The amount that has been refunded from this transaction, in cents.
        currency:
          type: string
          description: The currency code for this transaction (e.g., "EUR", "USD").
          nullable: false
        creditCard:
          $ref: '#/components/schemas/CreditCardInfo'
          description: Credit card information if this transaction was paid with a card.
        directDebit:
          $ref: '#/components/schemas/DirectDebitInfo'
          description: Direct debit (SEPA) information if this transaction was paid via direct debit.
        holderEmail:
          type: string
          description: The email address of the payment method holder for this transaction.
          nullable: true
        holderName:
          type: string
          description: The name of the payment method holder for this transaction.
          nullable: true
        status:
          $ref: '#/components/schemas/Payments.TransactionStatus'
          description: The current status of this transaction.
        request:
          $ref: '#/components/schemas/PaymentGateways.Checkout.PaymentRequest'
          description: Information about the payment request, including any redirect URL or action required.
      additionalProperties: false
    Payments.TransactionStatus:
      description: Current status of the Transaction.
      enum:
        - Requested
        - Paid
        - Confirmed
        - Refunded
        - RefundedPartially
        - Cancelled
        - Failed
        - Voided
        - Expired
        - Reversed
        - ImpossibleRefund
        - NextAction
      type: string
    Payments.TransactionError:
      description: The error encountered during the Transaction, if any.
      type: object
      properties:
        code:
          $ref: '#/components/schemas/Payments.TransactionErrorCode'
        externalError:
          $ref: '#/components/schemas/Payments.ExternalError'
      additionalProperties: false
    Payments.TransactionErrorCode:
      description: The type of error returned.
      enum:
        - Generic
        - Cancelled
        - NotCompleted
        - MissingPaymentMethod
        - Declined
        - System
      type: string
      
    CustomerAddressDto:
      type: object
      description: An address associated with a Customer.
      properties:
        id:
          type: string
          description: Unique identifier for the address.
          nullable: false
        label:
          type: string
          description: A friendly label or name for this address (e.g., "Home", "Work").
          nullable: true
        streetName:
          type: string
          description: The street name of the address.
          nullable: true
        streetNumber:
          type: string
          description: The street number of the address.
          nullable: true
        city:
          type: string
          description: The city of the address.
          nullable: true
        province:
          type: string
          description: The province or state of the address.
          nullable: true
        postalCode:
          type: string
          description: The postal or ZIP code of the address.
          nullable: true
        country:
          type: string
          description: The country code of the address (e.g., "IT" for Italy).
          nullable: true
      additionalProperties: false
    CustomerAddressRequest:
      type: object
      description: Request object for creating or updating a Customer address.
      properties:
        label:
          type: string
          description: A friendly label or name for this address (e.g., "Home", "Work"). This field is required.
          nullable: false
        streetName:
          type: string
          description: The street name of the address. This field is required.
          nullable: false
        streetNumber:
          type: string
          description: The street number of the address. This field is required.
          nullable: false
        city:
          type: string
          description: The city of the address. This field is required.
          nullable: false
        province:
          type: string
          description: The province or state of the address. This field is required.
          nullable: false
        postalCode:
          type: string
          description: The postal or ZIP code of the address. This field is required.
          nullable: false
        country:
          type: string
          description: The country code of the address (e.g., "IT" for Italy). This field is required.
          nullable: false
      additionalProperties: false
    GetPaymentGatewaysResponse:
      type: object
      description: Response object containing a list of available payment gateways.
      properties:
        items:
          type: array
          description: An array of PaymentGateway objects representing all available payment gateways.
          items:
            $ref: '#/components/schemas/PaymentGateways.PaymentGatewayDto'
          nullable: false
      additionalProperties: false
    MerchantPaymentGatewayDto:
      type: object
      description: Merchant-specific configuration for a payment gateway.
      properties:
        defaultPaymentGatewayId:
          type: string
          description: The ID of the default payment gateway to use if no specific gateway is selected.
          nullable: true
        isFallback:
          type: boolean
          description: Indicates whether this payment gateway should be used as a fallback option when other gateways fail.
      additionalProperties: false
    PaymentGateways.PaymentGatewayDto:
      type: object
      description: Detailed information about a payment gateway, including merchant configuration and parameters.
      properties:
        id:
          type: string
          description: Unique identifier for the payment gateway.
          nullable: false
        name:
          type: string
          description: The display name of the payment gateway (e.g., "Visa", "Mastercard", "Edenred").
          nullable: false
        type:
          $ref: '#/components/schemas/PaymentGateways.PaymentGatewayType'
          description: The type of payment gateway (0 = Card, 1 = Voucher, 2 = Other).
        paymentAction:
          $ref: '#/components/schemas/PaymentGateways.CheckoutAction'
          description: The type of checkout action required by this payment gateway.
        image:
          type: string
          description: URL of the image to display for this payment gateway.
          nullable: true
        checkoutImage:
          type: string
          description: URL of the image to display for this payment gateway in the checkout page.
          nullable: true
        icon:
          type: string
          description: URL of the icon to display for this payment gateway.
          nullable: true
        isActive:
          type: boolean
          description: Indicates whether this payment gateway is currently active and available for use.
        merchantConfiguration:
          $ref: '#/components/schemas/MerchantPaymentGatewayDto'
          description: Merchant-specific configuration for this payment gateway.
        parameters:
          type: array
          description: An array of configuration parameters for this payment gateway.
          items:
            $ref: '#/components/schemas/PaymentGateways.PaymentGatewayParameterDto'
          nullable: true
      additionalProperties: false
    PaymentGateways.PaymentGatewayParameterDto:
      type: object
      description: A configuration parameter for a payment gateway, including its current value.
      properties:
        id:
          type: string
          description: Unique identifier for this parameter.
          nullable: false
        friendlyName:
          type: string
          description: A human-readable name for this parameter.
          nullable: false
        isSecret:
          type: boolean
          description: Indicates whether this parameter contains sensitive information that should be masked or hidden.
        value:
          type: string
          description: The current value of this parameter. May be null if not configured.
          nullable: true
      additionalProperties: false

    ConfirmPaymentRequest.Transaction:
      type: object
      properties:
        id:
          type: string
          description: The id of the transaction.
          format: uuid
        amount:
          type: integer
          description: If specified, is the partial amount to be confirmed.
          format: int32
          nullable: true
      additionalProperties: false
    ConfirmPaymentRequest:
      type: object
      properties:
        transactions:
          type: array
          description: List of transactions to be confirmed.
          items:
            $ref: '#/components/schemas/ConfirmPaymentRequest.Transaction'
          nullable: true
      additionalProperties: false
    
    RefundPaymentRequest.Transaction:
      type: object
      properties:
        id:
          type: string
          description: The id of the transaction.
          format: uuid
        amount:
          type: integer
          description: If specified, is the partial amount to be refunded.
          format: int32
          nullable: true
        asCredit:
          type: boolean
          description: Indicates whether the refunded amount should be added to the customer's wallet as credit.
          nullable: true
      additionalProperties: false
    RefundPaymentRequest:
      type: object
      properties:
        asCredit:
          type: boolean
          description: Indicates whether the refunded amount should be added to the customer's wallet as credit.
          nullable: true
        transactions:
          type: array
          description: List of transactions to be refunded.
          items:
            $ref: '#/components/schemas/RefundPaymentRequest.Transaction'
          nullable: true
      additionalProperties: false
    
    PaginationResponse_CustomerAddressDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAddressDto'
          nullable: true
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      additionalProperties: false
    # PROBLEM DETAILS 
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          nullable: true
          description: A URI reference that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type. It remains consistent across occurrences of the same error type.
        status:
          type: integer
          format: int32
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          nullable: true
          description: A human-readable explanation specific to this occurrence of the problem.
      additionalProperties: true
    ValidationProblemDetails:
      properties:
        type:
          type: string
          nullable: true
          description: A URI reference that identifies the problem type.
          example: https://tools.ietf.org/html/rfc9110#section-15.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type. It remains consistent across occurrences of the same error type.
        status:
          type: integer
          format: int32
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 400
        detail:
          type: string
          nullable: true
          description: A human-readable explanation specific to this occurrence of the problem.
        code:
          type: string
          description: For some errors that could be handled programmatically, a short string indicating the error code reported.
        parameter:
          type: string
          nullable: true
          description: If the error is parameter-specific, the parameter related to the error. For example, you can use this to display a message near the correct form field.
      additionalProperties: false
    PaymentConflictProblemDetails:
      properties:
        title:
          type: string
          description: A short, human-readable summary of the problem type. It remains consistent across occurrences of the same error type.
        status:
          type: integer
          format: int32
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 409
        detail:
          type: string
          nullable: true
          description: A human-readable explanation specific to this occurrence of the problem.
        code:
          type: string
          description: For some errors that could be handled programmatically, a short string indicating the error code reported.
        paymentStatus:
          allOf:
            - $ref: '#/components/schemas/Payments.PaymentStatus'
      additionalProperties: false      
    # END PROBLEM DETAILS
  responses:
    BadRequest:
      description: The request was unacceptable, often due to missing a required parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationProblemDetails'
          examples:
            ValidationError:
              $ref: '#/components/examples/ValidationErrorExample'
            ResourceMissing:
              $ref: '#/components/examples/ResourceMissingExample'
    NotFound:
      description: The requested resource doesn’t exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://datatracker.ietf.org/doc/html/rfc9110#section-15.5.5
            title:: Customer was not found.
            status: 404
            detail: Entity "Customer" (cs_YZOJp96qKlW) was not found.
            additional:
              entity: Customer
              key: cs_YZOJp96qKlW
              error: NotFound
    PaymentConflict:
      description: The request conflicts with the current state of the target resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentConflictProblemDetails'
          examples:
            InvalidStatus:
              value:
                title: This operation cannot be processed because payment is in an invalid status.
                status: 409
                detail: Only 'Paid' payment can be confirmed.
                code: INVALID_STATUS
                paymentStatus: Requested
            AlreadyProcessed:
              value:
                title: This operation is already processed.
                status: 409
                code: ALREADY_CONFIRMED
                paymentStatus: Confirmed
  examples:
    ValidationErrorExample:
      value:
        type: https://tools.ietf.org/html/rfc9110#section-15.5.1
        title: One or more validation errors occurred.
        status: 400
        detail: You should provide a well formatted CustomerId.
        code: VALIDATION_ERROR
        parameter: CustomerId
    ResourceMissingExample:
      description: |
        Returned when a specified resource could not be found within the application domain, despite the request being syntactically correct.
        Unlike a `404 NOT FOUND`, this error indicates that the endpoint exists, but the referenced entity (e.g., CustomerId, OrderId) does not exist in the system.
      value:
        type: https://tools.ietf.org/html/rfc9110#section-15.5.1
        title:: CustomerId not found.
        status: 400
        detail: "No such CustomerId: 'cs_YZOJp96qKlW'."
        code: RESOURCE_MISSING
        parameter: CustomerId
  securitySchemes:
    Voucherly-API-Key:
      type: apiKey
      in: header
      name: Voucherly-API-Key
      description: |
        Sandbox mode secret keys have the prefix `sk_sand_` and live mode secret keys have the prefix `sk_live_`.