{
  "openapi": "3.0.1",
  "info": {
    "title": "Voucherly",
    "description": "",
    "contact": {
      "name": "Voucherly",
      "email": "info@voucherly.it"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.voucherly.it",
      "description": "Voucherly API"
    }
  ],
  "security": [
    {
      "Voucherly-API-Key": []
    }
  ],
  "paths": {
    "/v1/companys": {
      "post": {
        "tags": [
          "Companys"
        ],
        "operationId": "Create company",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompanyCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyForExternalApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companys/{idOrCode}": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Get company",
        "parameters": [
          {
            "name": "idOrCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Include",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyForExternalApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Create customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerForExternalApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Get customers",
        "parameters": [
          {
            "name": "Email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Include",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse[[CustomerForExternalApi]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Get customer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Include",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerForExternalApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Update customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequest[[UpdateCustomerCommandInner]]"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerForExternalApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customerId}/payment_methods": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Get customer payment methods",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse[[CustomerPaymentMethod]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customerId}/payment_methods/{paymentMethodId}": {
      "delete": {
        "tags": [
          "Customers"
        ],
        "operationId": "Delete customer payment method",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCustomerPaymentMethodCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customerId}/addresses": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Get customer addresses",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponse[[CustomerAddressDto]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "Create customer address",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddressDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customerId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "Get customer address",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddressDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "operationId": "Update customer address",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddressDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "operationId": "Delete customer address",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCustomerAddressCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddressDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/merchants/signup": {
      "post": {
        "tags": [
          "Merchants"
        ],
        "operationId": "Create merchant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_links": {
      "post": {
        "tags": [
          "Payment Links"
        ],
        "operationId": "Create payment link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentLinkCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_links/{id}": {
      "get": {
        "tags": [
          "Payment Links"
        ],
        "operationId": "Get payment link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Payment Links"
        ],
        "operationId": "Update payment link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentLinkBodyCommand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "Create payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "Get payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Include",
            "in": "query",
            "description": "An array of nested object to be included in response. Can be `Lines`, `Discounts` or `Transactions`.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "An array of nested object to be included in response. Can be `Lines`, `Discounts` or `Transactions`."
            }
          },
          {
            "name": "Voucherly-Wait-Time",
            "in": "header",
            "description": "Seconds that the call will be hanging, waiting for a payment status change. Maximum value is 60 seconds.",
            "schema": {
              "type": "integer",
              "description": "Seconds that the call will be hanging, waiting for a payment status change. Maximum value is 60 seconds.",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{id}/confirm": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "Confirm payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{id}/refund": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "Refund payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_gateways": {
      "get": {
        "tags": [
          "Payment Gateways"
        ],
        "operationId": "Get payment gateways",
        "parameters": [
          {
            "name": "All",
            "in": "query",
            "description": "Specifies whether to return all payment gateways or only those are enabled",
            "schema": {
              "type": "boolean",
              "description": "Specifies whether to return all payment gateways or only those are enabled"
            }
          },
          {
            "name": "Include",
            "in": "query",
            "description": "An array of nested object to be included in response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Parameters"
                ]
              },
              "description": "An array of nested object to be included in response."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentGatewaysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "CreditCardInfo": {
        "type": "object",
        "description": "User's card details",
        "properties": {
          "brand": {
            "type": "string",
            "description": "Card brand",
            "nullable": false
          },
          "pan": {
            "type": "string",
            "description": "Card masked PAN",
            "nullable": false
          },
          "expiration": {
            "type": "string",
            "nullable": false
          },
          "expirationMonth": {
            "type": "integer",
            "format": "int32",
            "description": "Two-digit number representing the card’s expiration month.",
            "readOnly": true
          },
          "expirationYear": {
            "type": "integer",
            "format": "int32",
            "description": "Four-digit number representing the card’s expiration year.",
            "readOnly": true
          },
          "product": {
            "type": "string",
            "nullable": false
          }
        },
        "additionalProperties": false
      },
      "DirectDebitInfo": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "nullable": false
          },
          "accountBic": {
            "type": "string",
            "nullable": false
          },
          "accountIban": {
            "type": "string",
            "nullable": false
          }
        },
        "additionalProperties": false
      },
      "PaymentGateways.CheckoutAction": {
        "enum": [
          "OTP",
          "REDIRECT",
          "DROPIN"
        ],
        "type": "string"
      },
      "Payments.DiscountType": {
        "enum": [
          "DOLLAROFF",
          "PERCENOFF",
          "FIXED"
        ],
        "type": "string"
      },
      "Payments.ExternalError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Payments.PaymentCloseCheckout": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "Payments.PaymentLastCallback": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "Payments.PaymentLinks.PaymentLinkStatus": {
        "enum": [
          "ACTIVE",
          "INACTIVE",
          "EXPIRED"
        ],
        "type": "integer",
        "format": "int32"
      },
      "Payments.PaymentMode": {
        "enum": [
          "Payment",
          "Wallet",
          "Setup"
        ],
        "type": "string",
        "description": "Mode of this Payment.",
        "nullable": false
      },
      "Payments.PaymentStatus": {
        "enum": [
          "Requested",
          "Paid",
          "Confirmed",
          "Refunded",
          "Cancelled",
          "Voided",
          "Expired"
        ],
        "type": "string"
      },
      "Payments.TransactionError": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/Payments.TransactionErrorCode"
          },
          "externalError": {
            "$ref": "#/components/schemas/Payments.ExternalError"
          }
        },
        "additionalProperties": false
      },
      "Payments.TransactionErrorCode": {
        "enum": [
          "Generic",
          "Cancelled",
          "NotCompleted",
          "MissingPaymentMethod",
          "Declined",
          "System"
        ],
        "type": "string"
      },
      "Payments.TransactionStatus": {
        "enum": [
          "Requested",
          "Paid",
          "Confirmed",
          "Refunded",
          "Dropped",
          "Cancelled",
          "Failed",
          "Voided",
          "Expired",
          "ImpossibleRefund"
        ],
        "type": "integer",
        "format": "int32"
      },
      "CompanyAddressForExternalApi": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "streetName": {
            "type": "string",
            "nullable": true
          },
          "streetNumber": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "province": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "deliveryFeeAmount": {
            "type": "integer",
            "format": "int32"
          },
          "storeId": {
            "type": "string",
            "nullable": false
          }
        },
        "additionalProperties": false
      },
      "CompanyForExternalApi": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false
          },
          "tenant": {
            "type": "string",
            "nullable": true
          },
          "joinCode": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyAddressForExternalApi"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomerForExternalApi": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "tenant": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "referenceId": {
            "type": "string",
            "nullable": true
          },
          "companyId": {
            "type": "string",
            "nullable": true
          },
          "wallet": {
            "$ref": "#/components/schemas/CustomerWalletTotalsForExternalApi"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomerPaymentMethodForExternalApi": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false
          },
          "paymentGatewayId": {
            "type": "string",
            "nullable": false
          },
          "externalId": {
            "type": "string",
            "nullable": false
          },
          "holderEmail": {
            "type": "string",
            "nullable": false
          },
          "holderName": {
            "type": "string",
            "nullable": false
          },
          "creditCard": {
            "$ref": "#/components/schemas/CreditCardInfo"
          },
          "directDebit": {
            "$ref": "#/components/schemas/DirectDebitInfo"
          },
          "additionalInformation1": {
            "type": "string",
            "nullable": true
          },
          "additionalInformation2": {
            "type": "string",
            "nullable": true
          },
          "additionalInformation3": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomerWalletTotalsForExternalApi": {
        "type": "object",
        "properties": {
          "totalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "totalVoucherAmount": {
            "type": "integer",
            "format": "int64"
          },
          "lastUpdatedOnUtc": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "PaymentGateways.Checkout.PaymentRequest": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/PaymentGateways.CheckoutAction"
          },
          "externalTransactionId": {
            "type": "string",
            "nullable": false
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "Services.PaymentGateways.PaymentGatewayDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/PaymentGateways.PaymentGatewayType"
          },
          "paymentAction": {
            "$ref": "#/components/schemas/PaymentGateways.CheckoutAction"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "checkoutImage": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "minimumAmount": {
            "type": "integer",
            "format": "int32"
          },
          "isPartiallyRefundable": {
            "type": "boolean",
            "readOnly": true
          },
          "isTokenizable": {
            "type": "boolean",
            "readOnly": true
          },
          "requestAffiliationUrl": {
            "type": "string",
            "nullable": true
          },
          "paymentGatewayParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Services.PaymentGateways.PaymentGatewayParameterDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Services.PaymentGateways.PaymentGatewayParameterDto": {
        "type": "object",
        "properties": {
          "paymentGatewayId": {
            "type": "string",
            "nullable": true
          },
          "parameterId": {
            "type": "string",
            "nullable": true
          },
          "friendlyName": {
            "type": "string",
            "nullable": true
          },
          "isMerchant": {
            "type": "boolean"
          },
          "isForm": {
            "type": "boolean"
          },
          "isVisible": {
            "type": "boolean"
          },
          "isRequired": {
            "type": "boolean"
          },
          "tenantDefaultValue": {
            "type": "string",
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentGateways.PaymentGatewayParameterOptionDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaymentGateways.PaymentGatewayParameterOptionDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaymentGateways.PaymentGatewayType": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "format": "int32"
      },
      "Payments.PaymentDiscount": {
        "type": "object",
        "properties": {
          "discountName": {
            "type": "string",
            "nullable": false
          },
          "discountDescription": {
            "type": "string",
            "nullable": false
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "$ref": "#/components/schemas/Payments.DiscountType"
          },
          "value": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false
          },
          "tenant": {
            "type": "string",
            "nullable": false
          },
          "referenceId": {
            "type": "string",
            "nullable": true
          },
          "mode": {
            "$ref": "#/components/schemas/Payments.PaymentMode"
          },
          "parentPaymentId": {
            "type": "string",
            "nullable": true
          },
          "customerId": {
            "type": "string",
            "nullable": false
          },
          "customerEmail": {
            "type": "string",
            "nullable": false
          },
          "customerFirstName": {
            "type": "string",
            "nullable": false
          },
          "customerLastName": {
            "type": "string",
            "nullable": false
          },
          "selectedPaymentGateway": {
            "type": "string",
            "nullable": false
          },
          "paymentGateways": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "checkoutUrl": {
            "type": "string",
            "nullable": true
          },
          "closeCheckout": {
            "$ref": "#/components/schemas/Payments.PaymentCloseCheckout"
          },
          "callback": {
            "$ref": "#/components/schemas/Payments.PaymentLastCallback"
          },
          "totalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "discountAmount": {
            "type": "integer",
            "format": "int64"
          },
          "finalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "paidAmount": {
            "type": "integer",
            "format": "int64"
          },
          "paidVoucherAmount": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "$ref": "#/components/schemas/Payments.PaymentStatus"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payments.Transaction"
            },
            "nullable": true
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payments.PaymentLine"
            },
            "nullable": true
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payments.PaymentDiscount"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Payments.PaymentLine": {
        "type": "object",
        "properties": {
          "productName": {
            "type": "string",
            "nullable": false
          },
          "productDescription": {
            "type": "string",
            "nullable": true
          },
          "productImage": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "unitAmount": {
            "type": "integer",
            "format": "int64"
          },
          "unitDiscountAmount": {
            "type": "integer",
            "format": "int64"
          },
          "discountAmount": {
            "type": "integer",
            "format": "int64"
          },
          "totalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "totalDiscountAmount": {
            "type": "integer",
            "format": "int64"
          },
          "finalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "taxRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "isFood": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Payments.Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "paymentGatewayId": {
            "type": "string",
            "nullable": false
          },
          "paymentGateway": {
            "$ref": "#/components/schemas/Services.PaymentGateways.PaymentGatewayDto"
          },
          "externalId1": {
            "type": "string",
            "nullable": false
          },
          "externalId2": {
            "type": "string",
            "nullable": true
          },
          "externalId3": {
            "type": "string",
            "nullable": true
          },
          "isWallet": {
            "type": "boolean"
          },
          "error": {
            "$ref": "#/components/schemas/Payments.TransactionError"
          },
          "requestedAmount": {
            "type": "integer",
            "format": "int32"
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "voucherAmount": {
            "type": "integer",
            "format": "int64"
          },
          "noOfVouchers": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "confirmedAmount": {
            "type": "integer",
            "format": "int64"
          },
          "refundedAmount": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string",
            "nullable": false
          },
          "creditCard": {
            "$ref": "#/components/schemas/CreditCardInfo"
          },
          "directDebit": {
            "$ref": "#/components/schemas/DirectDebitInfo"
          },
          "holderEmail": {
            "type": "string",
            "nullable": true
          },
          "holderName": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/Payments.TransactionStatus"
          },
          "request": {
            "$ref": "#/components/schemas/PaymentGateways.Checkout.PaymentRequest"
          }
        },
        "additionalProperties": false
      },
      "CreateCompanyCommand": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false
          },
          "joinCode": {
            "type": "string",
            "nullable": false,
            "minLength": 6,
            "maxLength": 6
          }
        },
        "additionalProperties": false
      },
      "CustomerAddressDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "streetName": {
            "type": "string",
            "nullable": true
          },
          "streetNumber": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "province": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomerAddressRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "nullable": false
          },
          "streetName": {
            "type": "string",
            "nullable": false
          },
          "streetNumber": {
            "type": "string",
            "nullable": false
          },
          "city": {
            "type": "string",
            "nullable": false
          },
          "province": {
            "type": "string",
            "nullable": false
          },
          "postalCode": {
            "type": "string",
            "nullable": false
          },
          "country": {
            "type": "string",
            "nullable": false
          }
        },
        "additionalProperties": false
      },
      "DeleteCustomerAddressCommand": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "nullable": true
          },
          "addressId": {
            "type": "string",
            "nullable": false
          }
        },
        "additionalProperties": false
      },
      "CreateCustomerCommand": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": false
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "companyId": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "options": {
            "$ref": "#/components/schemas/CreateCustomerOptions"
          }
        }
      },
      "CreateCustomerOptions": {
        "type": "object",
        "properties": {
          "requireUniqueEmail": {
            "type": "boolean",
            "required": true
          }
        }
      },
      "DeleteCustomerPaymentMethodCommand": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "nullable": true
          },
          "paymentMethodId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateCustomerCommandInner": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": false
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "companyId": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateMerchantCommand": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false
          },
          "businessInformation": {
            "$ref": "#/components/schemas/CreateMerchantCommand.MerchantBusinessInformation",
            "nullable": true
          },
          "person": {
            "$ref": "#/components/schemas/CreateMerchantCommand.MerchantPerson"
          }
        },
        "additionalProperties": false
      },
      "CreateMerchantCommand.MerchantBusinessInformation": {
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string",
            "nullable": false
          },
          "vatNumber": {
            "type": "string",
            "nullable": false
          },
          "taxCode": {
            "type": "string",
            "nullable": false
          },
          "streetAddress": {
            "type": "string",
            "nullable": false
          },
          "postalCode": {
            "type": "string",
            "nullable": false
          },
          "city": {
            "type": "string",
            "nullable": false
          },
          "province": {
            "type": "string",
            "nullable": false
          },
          "country": {
            "type": "string",
            "nullable": false
          },
          "sdi": {
            "type": "string",
            "description": "Required if PEC is empty",
            "nullable": true
          },
          "pec": {
            "type": "string",
            "description": "Required if SDI is empty",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateMerchantCommand.MerchantPerson": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": false
          },
          "firstName": {
            "type": "string",
            "nullable": false
          },
          "lastName": {
            "type": "string",
            "nullable": false
          }
        },
        "additionalProperties": false
      },
      "GetPaymentGatewaysResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentGateways.PaymentGatewayDto"
            },
            "nullable": false
          }
        },
        "additionalProperties": false
      },
      "MerchantPaymentGatewayDto": {
        "type": "object",
        "properties": {
          "defaultPaymentGatewayId": {
            "type": "string",
            "nullable": true
          },
          "isFallback": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PaymentGateways.PaymentGatewayDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false
          },
          "name": {
            "type": "string",
            "nullable": false
          },
          "type": {
            "$ref": "#/components/schemas/PaymentGateways.PaymentGatewayType"
          },
          "paymentAction": {
            "$ref": "#/components/schemas/PaymentGateways.CheckoutAction"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "checkoutImage": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "merchantConfiguration": {
            "$ref": "#/components/schemas/MerchantPaymentGatewayDto"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentGateways.PaymentGatewayParameterDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaymentGateways.PaymentGatewayParameterDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": false
          },
          "friendlyName": {
            "type": "string",
            "nullable": false
          },
          "isSecret": {
            "type": "boolean"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreatePaymentLinkCommand": {
        "type": "object",
        "properties": {
          "referenceId": {
            "type": "string",
            "description": "A unique string to reference the Payment Link. This can be a cart ID, order ID, or similar, and can be used to reconcile the Payment Link with your internal systems.",
            "nullable": true
          },
          "afterCompletionUrl": {
            "type": "string",
            "description": "If specified, the success page is not shown at the end of a payment, but customer is redirected to this url.",
            "nullable": true
          },
          "customResultMessage": {
            "type": "string",
            "description": "If specified and if `AfterCompletionUrl` is empty, the following message will be displayed upon successful payments. Otherwise, a default message is shown.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "A name given by merchant to identify this Payment Link in the Dashboard.",
            "nullable": true
          },
          "maxNoOfSuccessPayments": {
            "type": "integer",
            "description": "If not null, is the maximum number of payments that can be accepted.",
            "format": "int32",
            "nullable": true
          },
          "language": {
            "type": "string",
            "description": "The language of Voucherly Checkout page.",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "The country of the purchase. If different from Italy, voucher payment gateways are not shown.",
            "nullable": true
          },
          "paymentGateways": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "isAutoConfirm": {
            "type": "boolean",
            "description": "Enable or disable auto confirm. If you don't specify anything the default Merchant configuration will be used. When auto confirm is enabled, payment is automatically confirmed before redirecting customer to RedirectSuccessUrl. When auto confirm is disabled, payment requires manual confirmation.",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Generic field that can be used to store generic info. It can contain up to 10 key-value items with a maximum length of 40 for the key and of 400 chars for the value.",
            "nullable": true
          },
          "foodAmount": {
            "type": "integer",
            "description": "The payable amount with vouchers. Must be lower than `TotalAmount` and no `Lines` must have been spcified.",
            "format": "int32",
            "nullable": true
          },
          "totalAmount": {
            "type": "integer",
            "description": "The total payable amount, not considering `Discounts`. No `Lines` must have been spcified.",
            "format": "int32",
            "nullable": true
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentLinkLineCommand"
            },
            "nullable": true
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentLinkDiscountCommand"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaymentLinkDiscountCommand": {
        "type": "object",
        "properties": {
          "discountName": {
            "type": "string",
            "nullable": true
          },
          "discountDescription": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/Payments.DiscountType"
          },
          "value": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaymentLinkDiscountDto": {
        "type": "object",
        "properties": {
          "discountName": {
            "type": "string",
            "nullable": true
          },
          "discountDescription": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "$ref": "#/components/schemas/Payments.DiscountType"
          },
          "value": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaymentLinkDto": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "referenceId": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "afterCompletionUrl": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "maxNoOfSuccessPayments": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "noOfSuccessPayments": {
            "type": "integer",
            "format": "int32"
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "selectedPaymentGateway": {
            "type": "string",
            "nullable": true
          },
          "paymentGateways": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "isPartialPayment": {
            "type": "boolean"
          },
          "s2SUrl": {
            "type": "string",
            "nullable": true
          },
          "isAutoConfirm": {
            "type": "boolean",
            "nullable": true
          },
          "foodAmount": {
            "type": "integer",
            "format": "int64"
          },
          "totalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "discountAmount": {
            "type": "integer",
            "format": "int64"
          },
          "finalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentLinkLineDto"
            },
            "nullable": true
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentLinkDiscountDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaymentLinkLineCommand": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer",
            "description": "The number of units of this article.",
            "format": "int32"
          },
          "priceId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "unitAmount": {
            "type": "integer",
            "description": "Amount of the single unit of this article.",
            "format": "int32"
          },
          "unitDiscountAmount": {
            "type": "integer",
            "description": "Discount amount on the unit amount.",
            "format": "int32"
          },
          "discountAmount": {
            "type": "integer",
            "description": "Total discount amount on this product line.",
            "format": "int32"
          },
          "productId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "productName": {
            "type": "string",
            "description": "Product name to show to the customer in the checkout.",
            "nullable": true
          },
          "productDescription": {
            "type": "string",
            "description": "Brief description of the product.",
            "nullable": true
          },
          "productImage": {
            "type": "string",
            "description": "Product image to show to the customer in the checkout.",
            "nullable": true
          },
          "isFood": {
            "type": "boolean",
            "description": "Indicates whether this payment line can be purchased with vouchers."
          }
        },
        "additionalProperties": false
      },
      "PaymentLinkLineDto": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "unitAmount": {
            "type": "integer",
            "format": "int64"
          },
          "unitDiscountAmount": {
            "type": "integer",
            "format": "int64"
          },
          "discountAmount": {
            "type": "integer",
            "format": "int64"
          },
          "totalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "totalDiscountAmount": {
            "type": "integer",
            "format": "int64"
          },
          "finalAmount": {
            "type": "integer",
            "format": "int64"
          },
          "productName": {
            "type": "string",
            "nullable": true
          },
          "productDescription": {
            "type": "string",
            "nullable": true
          },
          "productImage": {
            "type": "string",
            "nullable": true
          },
          "isFood": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UpdatePaymentLinkBodyCommand": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Payments.PaymentLinks.PaymentLinkStatus",
            "nullable": false
          },
          "afterCompletionUrl": {
            "type": "string",
            "description": "If specified, the success page is not shown at the end of a payment, but customer is redirected to this url.",
            "nullable": true
          },
          "customResultMessage": {
            "type": "string",
            "description": "If specified and if `AfterCompletionUrl` is empty, the following message will be displayed upon successful payments. Otherwise, a default message is shown.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "A name given by merchant to identify this Payment Link in the Dashboard.",
            "nullable": true
          },
          "maxNoOfSuccessPayments": {
            "type": "integer",
            "description": "If not null, is the maximum number of payments that can be accepted.",
            "format": "int32",
            "nullable": true
          },
          "language": {
            "type": "string",
            "description": "The language of Voucherly Checkout page.",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "The country of the purchase. If different from Italy, voucher payment gateways are not shown.",
            "nullable": true
          },
          "paymentGateways": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "isAutoConfirm": {
            "type": "boolean",
            "description": "Enable or disable auto confirm. If you don't specify anything the default Merchant configuration will be used. When auto confirm is enabled, payment is automatically confirmed before redirecting customer to RedirectSuccessUrl. When auto confirm is disabled, payment requires manual confirmation.",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Generic field that can be used to store generic info. It can contain up to 10 key-value items with a maximum length of 40 for the key and of 400 chars for the value.",
            "nullable": true
          },
          "foodAmount": {
            "type": "integer",
            "description": "The payable amount with vouchers. Must be lower than `TotalAmount` and no `Lines` must have been spcified.",
            "format": "int32",
            "nullable": true
          },
          "totalAmount": {
            "type": "integer",
            "description": "The total payable amount, not considering `Discounts`. No `Lines` must have been spcified.",
            "format": "int32",
            "nullable": true
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentLinkLineCommand"
            },
            "nullable": true
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentLinkDiscountCommand"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreatePaymentRequest": {
        "type": "object",
        "properties": {
          "referenceId": {
            "type": "string",
            "description": "A unique string to reference the Payment. This can be a customer ID, a cart ID, or similar, and can be used to reconcile the Payment with your internal systems",
            "nullable": true
          },
          "timeout": {
            "type": "integer",
            "description": "Timeout in minutes for the checkout sessions. Default is 10.",
            "format": "int32",
            "nullable": true
          },
          "mode": {
            "$ref": "#/components/schemas/Payments.PaymentMode"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer of this Payment. If empty a new customer will be created.",
            "nullable": true
          },
          "customerEmail": {
            "type": "string",
            "nullable": true
          },
          "customerFirstName": {
            "type": "string",
            "nullable": true
          },
          "customerLastName": {
            "type": "string",
            "nullable": true
          },
          "customerPaymentMethodId": {
            "type": "string",
            "description": "ID of the Customer payment method to attach to this Payment.",
            "nullable": true
          },
          "isPartialPayment": {
            "type": "boolean",
            "description": "Enable or disable partial payments. When partial payment is enabled, customers have the flexibility to pay a portion of the total amount. Customers can decide to use alternative payment methods to cover the remaining amount. When partial payment is disabled, customers are required to pay the entire amount using a combination of payment gateways.",
            "nullable": true
          },
          "isAutoConfirm": {
            "type": "boolean",
            "description": "Enable or disable auto confirm.\r\nIf you don't specify anything the default Merchant configuration will be used.\r\nWhen auto confirm is enabled, payment is automatically confirmed before redirecting customer to RedirectSuccessUrl.\r\nWhen auto confirm is disabled, payment requires manual confirmation.",
            "nullable": true
          },
          "selectedPaymentGateway": {
            "type": "string",
            "description": "Default PaymentGateway used for the first transaction",
            "nullable": true
          },
          "paymentGateways": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of PaymentGateways enabled for this Payment. If empty all PaymentGateways are used.",
            "nullable": true
          },
          "redirectOkUrl": {
            "type": "string",
            "description": "The URL to which Voucherly should send customers when payment is complete.",
            "nullable": false
          },
          "redirectKoUrl": {
            "type": "string",
            "description": "The URL to which Voucherly should send customers when payment is cancelled or failed.",
            "nullable": false
          },
          "callbackUrl": {
            "type": "string",
            "nullable": true
          },
          "language": {
            "type": "string",
            "description": "The language of Voucherly Checkout page.",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "The country of the purchase. If different from Italy, voucher payment gateways are not shown.",
            "nullable": true
          },
          "shippingAddress": {
            "type": "string",
            "description": "Purchase shipping address.",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Generic field that can be used to store generic info. It can contain up to 10 key-value items with a maximum length of 40 for the key and of 400 chars for the value.",
            "nullable": true
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreatePaymentRequest.PaymentLine"
            },
            "nullable": true
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreatePaymentRequest.PaymentDiscount"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreatePaymentRequest.PaymentDiscount": {
        "type": "object",
        "properties": {
          "discountName": {
            "type": "string",
            "description": "The name of the discount",
            "nullable": false
          },
          "discountDescription": {
            "type": "string",
            "description": "Brief description of this discount\r\n",
            "nullable": false
          },
          "amount": {
            "type": "integer",
            "description": "Discount amount to subtract from the total. Has to be specified when `Type` is NULL and `Value` is NULL.",
            "format": "int32",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/Payments.DiscountType"
          },
          "value": {
            "type": "integer",
            "description": "Value of the discount. Has to be specified when Type is not NULL and Amount is NULL. It is contextualized based on type",
            "format": "int32",
            "nullable": true
          },
          "index": {
            "type": "integer",
            "description": "Specify the order of application of this discount with respect to the others.",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreatePaymentRequest.PaymentLine": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer",
            "description": "The number of units of this article.",
            "format": "int32"
          },
          "unitAmount": {
            "type": "integer",
            "description": "Amount of the single unit of this article.",
            "format": "int32"
          },
          "unitDiscountAmount": {
            "type": "integer",
            "description": "Discount amount on the unit amount.",
            "format": "int32"
          },
          "discountAmount": {
            "type": "integer",
            "description": "Total discount amount on this product line.",
            "format": "int32"
          },
          "taxRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "productId": {
            "type": "string",
            "nullable": true
          },
          "productName": {
            "type": "string",
            "description": "Product name to show to the customer in the checkout.",
            "nullable": true
          },
          "productVariant": {
            "type": "string",
            "description": "Brief description of the product.",
            "nullable": true
          },
          "productImage": {
            "type": "string",
            "description": "Product image to show to the customer in the checkout.",
            "nullable": true
          },
          "isFood": {
            "type": "boolean",
            "description": "Indicates whether this payment line can be purchased with vouchers."
          },
          "modifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreatePaymentCommandLineModifier"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreatePaymentCommandLineModifier": {
        "type": "object",
        "properties": {
          "modifierId": {
            "type": "string",
            "description": "Identifier of the modifier",
            "required": true
          },
          "productId": {
            "type": "string",
            "description": "Identifier of the product",
            "required": true
          },
          "productName": {
            "type": "string",
            "required": false
          },
          "quantity": {
            "type": "integer",
            "required": true
          },
          "price": {
            "type": "integer",
            "required": true
          }
        },
        "additionalProperties": false
      },  
      "RefundPaymentRequest.Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the transaction.",
            "format": "uuid"
          },
          "amount": {
            "type": "integer",
            "description": "If specified, is the partial amount to be refunded.",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RefundPaymentRequest": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundPaymentRequest.Transaction"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateRequest[[UpdateCustomerCommandInner]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/UpdateCustomerCommandInner"
          },
          "includedProperties": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaginationResponse[[CustomerPaymentMethod]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerPaymentMethodForExternalApi"
            },
            "nullable": true
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResult"
          }
        },
        "additionalProperties": false
      },
      "PaginationResponse[[CustomerAddressDto]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerAddressDto"
            },
            "nullable": true
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResult"
          }
        },
        "additionalProperties": false
      },
      "PaginationResponse[[CustomerForExternalApi]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerForExternalApi"
            },
            "nullable": true
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationResult"
          }
        },
        "additionalProperties": false
      },
      "PaginationResult": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "total": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "atLeast": {
            "type": "boolean",
            "nullable": true
          },
          "continuationSince": {
            "type": "string",
            "nullable": true
          },
          "partialTotal": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ValidationProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "parameter": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Voucherly-API-Key": {
        "type": "apiKey",
        "in": "header",
        "name": "Voucherly-API-Key"
      }
    }
  }
}